/*  STANDARD CLASSES   */

.sapMBarTitleStart .sapMBarPH {
    justify-content: center !important;
}

.sapMBarTitleStart .sapMBarPH {
    background-color: red;
    justify-content: flex-start;
}

.sapMIBar-CTX .sapMTitle {
    color: #ffffff;
    text-shadow: none;
}

.sapMTB-Transparent-CTX>.sapMTitleTB.sapMTitleStyleAuto {
    font-size: 0.875rem !important;
}

.sapMPanel>.sapMPanelHdr,
.sapMPanelWrappingDiv,
.sapMPanelWrappingDivTb {
    border-bottom: .0625rem solid #d9d9d900 !important;
}

.sapMPanelContent:not(.sapMPanelBGTransparent) {
    border-bottom: .0625rem solid #d9d9d900 !important;
}

:not(.sapMBtnDisabled) .sapMBtnBack>.sapMBtnIcon,
:not(.sapMBtnDisabled) .sapMBtnTransparent>.sapMBtnIcon,
:not(.sapMBtnDisabled) .sapMBtnGhost>.sapMBtnIcon {
    color: #ff3939 !important;
}

.sapMBtn:hover>.sapMBtnTransparent.sapMBtnHoverable:not(.sapMBtnActive):not(.sapMToggleBtnPressed),
.sapMIBar-CTX .sapMBtn:hover>.sapMBtnTransparent.sapMBtnHoverable:not(.sapMBtnActive):not(.sapMToggleBtnPressed) {
    background-color: #ebf5fe00 !important;
    border-color: #0854a000 !important;
    color: #0854a000;
}

html.sap-desktop .sapMBtn:focus>.sapMFocusable {
    outline: .0625rem dotted #0000 !important;
    outline-offset: -0.1875rem;
}


/* Media */

.aljSplitCont.sapMSplitContainerHideMode>.sapMSplitContainerDetail .sapUiResponsiveMargin,
.sapMSplitContainerPortrait>.sapMSplitContainerDetail .sapUiResponsiveMargin,
.sapUiResponsiveMargin {
    margin: 0 0 -1rem 0 !important;
}


/*  CUSTOM CLASSES   */

/*BOOKING CONFIRMATION*/
.aljBoldHeading .sapMIBar-CTX .sapMTitle {
    color: #ffffff;
    font-weight: BOLD;
}
.aljRedBorderText.sapMText {
    BORDER-BOTTOM: 1PX SOLID RED;
}
.aljSkyBlueText.sapMText {
    color: #00D1CE;
}
.aljBigIcon.sapUiIcon {
    font-size: xxx-large !important;
}

.aljWhiteBar.sapMBar {
    BACKGROUND-COLOR: WHITE;
    height: 2.75rem;
    line-height: 2.75rem;
}

/*ServiceStatus*/

.aljMapDialog.sapMDialog {
    box-sizing: content-box;
    min-height: 30.75rem;
    top: 156px;
    padding-bottom: 0rem;
    padding-top: 0rem;
}

.aljMapDialog.sapMDialog>.sapMDialogSection {
    height: 100%;
    min-height: 30.75rem;
}
.aljMapVbox.sapMVBox {
    position: inherit !important;
}
.aljCloseRedButton .sapMBtnInner {
    background-color: #fff0;
    border: .0625rem solid #0854a000;
    border-radius: 0.2rem;
}
.aljCloseRedButton .sapMBtnIcon {
    width: .125rem;
    font-size: 1.4rem;
    line-height: 2.125rem;
    color: #ff0000;
}

.aljPadding.sapMBar {
    box-shadow: inset 0 -0.0625rem #d9d9d900;
}

.aljPadding.sapMBar {
    height: 1.5rem;
    line-height: 1.5rem;
}

.aljPadding .sapMBarRight,
.sapMBarPH {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.aljPadding .sapMBarLeft,
.sapMBarPH {
    padding-right: 1.3rem !important;
    padding-left: 1.3rem !important;
}

.aljSwitch.sapMSwtCont {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    width: inherit !important;
}

.aljSwitch .sapMSwt.sapMSwtOn:not(.sapMSwtAcceptReject) {
    background: #f9eff1 !important;
    border-color: #ca0404 !important;
}

.aljSwitch .sapMSwt.sapMSwtOn:not(.sapMSwtAcceptReject) .sapMSwtHandle {
    background: #ff0000 !important;
    border-color: #c10000 !important;
}

.aljSwitch .sapMSwtOn .sapMSwtHandle,
.sapMSwtOff .sapMSwtHandle {
    height: 0.9rem;
    width: 0.9rem;
}

.aljSwitch.sapMSwtOn .sapMSwtHandle,
.sapMSwtOff .sapMSwtHandle {
    height: 0.9rem;
    width: 0.9rem;
}

.aljSwitch .sapMSwt.sapMSwtNoLabel {
    width: 2.3rem;
    height: 0.9rem;
}

.aljBoldText.sapMText {
    font-weight: bold;
}

.aljRedUnderline.sapMLabel .sapMLabelTextWrapper {
    border-bottom: 1px solid red;
}

.aljRedLabel.sapMLabel {
    color: #ff0000;
}

.aljBlackStar.sapMLabel.sapMLabelRequired .sapMLabelColonAndRequired:after {
    content: "*";
    color: #000000ad !important;
}

.aljText.sapMFlexBoxWrapNoWrap {
    padding: 0rem 1.1rem !important;
}

.aljHeadingText.sapMFlexItem {
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
}

.aljBorderRed.sapMHBox {
    border-bottom: 1px solid red;
}

.aljBoldText .sapMText {
    font-weight: bold;
}

.aljList {
    padding-left: 7%;
    /*padding-right: 11%;*/
}

.aljListLi.sapMLIB {
    background: #fff0;
    border-bottom: 1px solid #e5e5e500;
}

.aljRedButton.sapMBtn .sapMBtnInner {
    display: flex;
    justify-content: center;
    width: 15rem;
    border-radius: 1rem;
    border-color: red;
}

.aljRedButton .sapMBtnInner {
    background-color: red !important;
    color: white !important;
}

.aljGrayHbox.sapMHBox {
    background-color: rgb(213 213 214 / 60%);
}

.aljWhiteSmokeVbox.sapMVBox {
    border-radius: 1rem;
    background-color: whitesmoke;
}

.aljRedText.sapMText {
    font-size: .7rem !important;
    color: #fb0000 !important;
}
/*Home*/
.sapMIBar.sapMIBar-CTX.stylebar {
    background-color: #e62f2d;
}

.logo.sapMLabel {
    color: white;
    font-size: 1.2rem;
}

.btn .sapMBtnIcon {
    color: white;
}

.btn .sapUiIcon {
    font-size: 1.5rem;
}

.heading {
    border-bottom: 2px solid #e62f2d;
    color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.tilesClass {
    overflow: overlay;
}

.text2 {
    margin-top: -20%;
}

.text1 {
    margin-top: -6%;
}

.text3 {
    margin-top: 5%;
}

.footerbtn .sapMBtnInner .sapMBtnIcon.sapMImg {
    max-height: 1.5rem;
    margin-top: 14%;
}

.productsfooterbtn .sapMBtnInner .sapMBtnIcon.sapMImg {
    max-height: 2rem;
    margin-top: 4%;
    margin-left: 15%;
}

.productsClass {
    align-items: center;
    background: #f2f2f2;
    border-radius: 6%;
    padding: 20px;
    width: 10rem;
}

.homePage.sapMPageBgStandard {
    background-color: #ffffff;
}

html.sap-desktop ::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

.productsbuttonclass span.sapMBtnInner {
    /*margin-left:15rem;*/
    background-color: #e62f2d;
    border-color: #e62f2d;
    color: white;
    height: 70%;
}

.productsbuttonclass .sapMBtnInner {
    border-radius: 10px;
    width: 5rem;
    height: 2rem;
}

.productsbuttonclass .sapMBtnContent {
    line-height: 1.4rem;
}

.centralbutton {
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 1px -1px 6px 0px #6a6d70;
    padding: 13%;
    margin-top: -11px;
    background-color: #ffffff;
}

.labelclass {
    color: black;
    font-family: revert;
}

.labelclass2 {
    color: black;
    font-family: cursive;
}

.textclass {
    font: menu;
}

.serviceStatusClass {
    background: #f2f2f2;
}

.serviceStatusLabel {
    color: #343538;
    font-family: "Lucida Console", Courier, monospace;
}

.sapMIBar.sapMIBar-CTX.servicesBarClass {
    background-color: #f2f2f2;
    width: 90%;
    border-radius: 1rem;
}

.barLabel.sapMLabel {
    color: black;
    font-size: 1rem;
}

.servicesBarClass .sapMBarRight {
    background: #89919a;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.stylefooter {
    overflow: visible;
    height: 4rem;
}

.redFooter {
    color: #e62f2d;
}
.servicesVbox{
	padding-bottom:3rem;
}