/*  STANDARD CLASSES   */

.sapMBarTitleStart .sapMBarPH {
    justify-content: center !important;
}

.sapMBarTitleStart .sapMBarPH {
    background-color: #E20021;
    justify-content: flex-start;
}

.sapMIBar-CTX .sapMTitle {
    color: #ffffff;
    text-shadow: none;
}

.sapMTB-Transparent-CTX>.sapMTitleTB.sapMTitleStyleAuto {
    font-size: 0.875rem !important;
}

.sapMPanel>.sapMPanelHdr,
.sapMPanelWrappingDiv,
.sapMPanelWrappingDivTb {
    border-bottom: .0625rem solid #d9d9d900 !important;
}

.sapMPanelContent:not(.sapMPanelBGTransparent) {
    border-bottom: .0625rem solid #d9d9d900 !important;
}

:not(.sapMBtnDisabled) .sapMBtnBack>.sapMBtnIcon,
:not(.sapMBtnDisabled) .sapMBtnTransparent>.sapMBtnIcon,
:not(.sapMBtnDisabled) .sapMBtnGhost>.sapMBtnIcon {
    color: #ff3939 !important;
}


.sapMBtn:hover>.sapMBtnTransparent.sapMBtnHoverable:not(.sapMBtnActive):not(.sapMToggleBtnPressed),
.sapMIBar-CTX .sapMBtn:hover>.sapMBtnTransparent.sapMBtnHoverable:not(.sapMBtnActive):not(.sapMToggleBtnPressed) {
    background-color: #ebf5fe00 !important;
    border-color: #0854a000 !important;
    color: #0854a000;
}

html.sap-desktop .sapMBtn:focus>.sapMFocusable {
    outline: .0625rem dotted #0000 !important;
    outline-offset: -0.1875rem;
}


/* Media */

.aljSplitCont.sapMSplitContainerHideMode>.sapMSplitContainerDetail .sapUiResponsiveMargin,
.sapMSplitContainerPortrait>.sapMSplitContainerDetail .sapUiResponsiveMargin,
.sapUiResponsiveMargin {
    margin: 0 0 -1rem 0 !important;
}


/*  CUSTOM CLASSES   */


/*BOOKING CONFIRMATION*/

.aljBoldHeading .sapMIBar-CTX .sapMTitle {
    color: #ffffff;
    font-weight: BOLD;
}

.aljRedBorderText.sapMText {
    BORDER-BOTTOM: 1PX SOLID #E20021;
}

.aljSkyBlueText.sapMText {
    color: #00D1CE;
}

.aljBigIcon.sapUiIcon {
    font-size: xxx-large !important;
}

.aljWhiteBar.sapMBar {
    BACKGROUND-COLOR: WHITE;
    height: 2.75rem;
    line-height: 2.75rem;
}


/*ServiceStatus*/
.aljGrayHbox.sapMHBox {
    background-color: #D9D9D9;
       border-top-left-radius: 27px;
}
.aljGrayButtons:not(.sapMBtnDisabled)>.sapMBtnInner.sapMBtnActive{
	background-color: #D9D9D9 !important;
	color:black !important;
}
.aljRedDisabledButtons:not(.sapMBtnDisabled)>.sapMBtnInner.sapMBtnActive{
	background-color: #EB0A1E !important;
	color:White !important;
}
.aljGrayButtons.html.sap-desktop .sapMBtn:focus>.sapMFocusable {
    outline: .0625rem dotted #0000 !important;
    outline-offset: -0.1875rem;
    background-color: #D9D9D9 !important;
}
.aljMapDialog.sapMDialog {
    box-sizing: content-box;
    min-height: 30.75rem;
    top: 156px;
    padding-bottom: 0rem;
    padding-top: 0rem;
}

.aljMapDialog.sapMDialog>.sapMDialogSection {
    height: 100%;
    min-height: 30.75rem;
}

.aljMapVbox.sapMVBox {
    position: inherit !important;
}

.aljCloseRedButton .sapMBtnInner {
    background-color: #fff0;
    border: .0625rem solid #0854a000;
    border-radius: 0.2rem;
}

.aljCloseRedButton .sapMBtnIcon {
    width: .125rem;
    font-size: 1.4rem;
    line-height: 2.125rem;
    color: #ff0000;
}

.aljPadding.sapMBar {
    box-shadow: inset 0 -0.0625rem #d9d9d900;
}

.aljPadding.sapMBar {
    height: 1.5rem;
    line-height: 1.5rem;
}

.aljPadding .sapMBarRight,
.sapMBarPH {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.aljPadding .sapMBarLeft,
.sapMBarPH {
    padding-right: 1.3rem !important;
    padding-left: 1.3rem !important;
}

.aljSwitch.sapMSwtCont {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    width: inherit !important;
}

.aljSwitch .sapMSwt.sapMSwtOn:not(.sapMSwtAcceptReject) {
    background: #f9eff1;
    border-color: #ca0404;
}

.aljSwitch .sapMSwt.sapMSwtOn:not(.sapMSwtAcceptReject) .sapMSwtHandle {
    background: #ff0000;
    border-color: #c10000;
}

.aljSwitch .sapMSwtOn .sapMSwtHandle,
.sapMSwtOff .sapMSwtHandle {
    height: 0.9rem;
    width: 0.9rem;
}

.aljSwitch.sapMSwtOn .sapMSwtHandle,
.sapMSwtOff .sapMSwtHandle {
    height: 0.9rem;
    width: 0.9rem;
}

.aljSwitch .sapMSwt.sapMSwtNoLabel {
    width: 2.3rem;
    height: 0.9rem;
}

.aljBoldText.sapMText {
    font-weight: bold;
}

.aljRedUnderline.sapMLabel .sapMLabelTextWrapper {
    border-bottom: 1px solid red;
}

.aljRedLabel.sapMLabel {
    color: #ff0000;
}

.aljBlackStar.sapMLabel.sapMLabelRequired .sapMLabelColonAndRequired:after {
    content: "*";
    color: #000000ad !important;
}

.aljText.sapMFlexBoxWrapNoWrap {
    padding: 0rem 1.1rem !important;
}

.aljHeadingText.sapMFlexItem {
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
}

.aljBorderRed.sapMHBox {
    border-bottom: 1px solid red;
}

.aljBoldText .sapMText {
    font-weight: bold;
}

.aljList {
    padding-left: 7%;
    /*padding-right: 11%;*/
}

.aljListLi.sapMLIB {
    background: #fff0;
    border-bottom: 1px solid #e5e5e500;
}

.aljRedButton.sapMBtn .sapMBtnInner {
    display: flex;
    justify-content: center;
    width: 15rem;
    border-radius: 1rem;
    border-color: #E20021;
}

.aljRedButton .sapMBtnInner {
    background-color: WHITE !important;
    color: BLACK !important;
}

.aljGrayHbox.sapMHBox {
    background-color: #D9D9D9;
}

.aljWhiteSmokeVbox.sapMVBox {
    border-radius: 1rem;
    background-color: whitesmoke;
}

.aljRedText.sapMText {
    font-size: .7rem !important;
    color: #fb0000 !important;
}


/*Home*/

.sapMIBar.sapMIBar-CTX.stylebar {
    background-color: #e62f2d;
}

.logo.sapMLabel {
    color: white;
    font-size: 1.2rem;
}

.btn .sapMBtnIcon {
    color: white;
}

.btn .sapUiIcon {
    font-size: 1.5rem;
}

.heading {
    border-bottom: 2px solid #e62f2d;
    color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.tilesClass {
    overflow: overlay;
}

.text2 {
    margin-top: -20%;
}

.text1 {
    margin-top: -6%;
}

.text3 {
    margin-top: 5%;
}

.footerbtn .sapMBtnInner .sapMBtnIcon.sapMImg {
    max-height: 1.5rem;
    margin-top: 14%;
}

.productsfooterbtn .sapMBtnInner .sapMBtnIcon.sapMImg {
    max-height: 2rem;
    margin-top: 4%;
    margin-left: 15%;
}

.productsClass {
    align-items: center;
    background: #f2f2f2;
    border-radius: 6%;
    padding: 20px;
    width: 10rem;
}

.homePage.sapMPageBgStandard {
    background-color: #ffffff;
}

.tilesClass html.sap-desktop ::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

.productsbuttonclass span.sapMBtnInner {
    /*margin-left:15rem;*/
    background-color: #e62f2d;
    border-color: #e62f2d;
    color: white;
    height: 70%;
}

.productsbuttonclass .sapMBtnInner {
    border-radius: 10px;
    width: 5rem;
    height: 2rem;
}

.productsbuttonclass .sapMBtnContent {
    line-height: 1.4rem;
}

.centralbutton {
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 1px -1px 6px 0px #6a6d70;
    padding: 13%;
    margin-top: -11px;
    background-color: #ffffff;
}

.labelclass {
    color: black;
    font-family: revert;
}

.labelclass2 {
    color: black;
    font-family: cursive;
}

.textclass {
    font: menu;
}

.serviceStatusClass {
    background: #f2f2f2;
}

.serviceStatusLabel {
    color: #343538;
    font-family: "Lucida Console", Courier, monospace;
}

.sapMIBar.sapMIBar-CTX.servicesBarClass {
    background-color: #f2f2f2;
    width: 90%;
    border-radius: 1rem;
}

.barLabel.sapMLabel {
    color: black;
    font-size: 1rem;
}

.servicesBarClass .sapMBarRight {
    background: #89919a;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.stylefooter {
    overflow: visible;
    height: 4rem;
}

.redFooter {
    color: #e62f2d !important;
}

.servicesVbox {
    padding-bottom: 3rem;
}


/*NOTIFICATIONS*/

.sapMNLITitleText {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.notificationsDotClass{
	border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: red;
    top: 1.5rem;
}


/*MY SERVICES*/

.myServicesVbox {
    background: #dadada;
    border-top-left-radius: 2rem;
    padding: 1rem;
    padding-bottom: 6rem;
}

.myServicesHbox {
    background: #ffffff;
    border-top-left-radius: 1rem;
    border-radius: 1rem;
    padding: 0.6rem;
    height: 115px;
    width: 350px;
}


.myservicesBtnClick .sapMBtnInner {
    border: 0.1rem solid #f3979f !important;
    color: black !important;
    font-weight: bold;
}

.myservicesBtnnotClick .sapMBtnInner {
    border: .0625rem solid #d2d2d2 !important;
    color: #d2d2d2 !important;
    font-weight: bold;
}

.myserviceKnowmoreBtn .sapMBtnInner {
    background-color: #68696c;
    border: .0625rem solid #68696c;
    border-radius: 1rem;
    color: white;
}

.myserviceKnowmoreBtn {
    margin-left: 5.2rem;
}
.myservicesText1 {
	color: black;
    font-weight: bold;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
}
.myservicesimg{
	height: 12px;
    width: 77.5px;
}

.wbCustomTaskLineDone {
    border-left: 1px solid #979797;
    position: absolute;
    left: 50%;
    width: 1px;
    height: 88%;
    top: 34px;
}

 .wbCustomTaskIcon {
    top: 0.625rem;
    position: relative;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
 }
 /*MY PROFILE*/
.myProfileClass{
	padding: 0.8rem;
}
.myProfileEditBtn {
	margin-left: 11rem;
    width: 103px;
    height: 36px;
    border-radius: 14px;
}
.myProfileEditBtn .sapMBtnInner {
    /*opacity: 31%;*/
    font-weight: bold;
    color: #000000;
    background-color: #f3f3f3;
    border: #f3f3f3;
    border-radius: 14px;
}
.myProfileLanguageClass{
	height: 7.625rem;
    width: 20.5rem;
    border: 1px solid #D5D2D2;
    border-radius: 8px;
    padding: 16;
    padding-left: 24px;
    margin-left: 16px;
}
.myProfileLanguageHboxClass{
	padding: 0.5rem;
    border-bottom: 1px solid #D5D2D2;
}
.myProfileRadioBtn.sapMRbSel .sapMRbBInn {
    fill: #ec0318;
    /* width: 28px; */
    /* height: 28px; */
}
.myProfileLogoutClass{
	padding-top: 9rem;
}
.myProfileLogoutBtn{
	width: 19.75rem;
    margin-left: 20px;
}
.myProfileLogoutBtn .sapMBtnInner {
    /*opacity: 31%;*/
    font-weight: bold;
    color: #ec0318;
    background-color: #ffffff;
    border: .0625rem solid #D5D2D2;
    border-radius: 7px;
}

/*bijay's css*/

/*standard class*/

.sapMIBar-CTX .sapMTitle {
    color: white;
    text-shadow: none;
}

:not(.sapMBtnDisabled)>.sapMBtnInner.sapMBtnActive {
    color: #ffffff !important;
    background-color: #CE0E2D;
    text-shadow: none;
    border-color: #CE0E2D;
}


/*standard class ends*/

/*.bookHeader {*/
/*    background-color: white;*/
/*}*/

/*.bookHeader .sapMBarLeft,*/
/*.sapMBarRight,*/
/*.sapMBarPH {*/
/*    background-color: #CE0E2D;*/
/*    color: white;*/
/*}*/

.basicInformationLabel {
    font-size: 0.9375rem !important;
    margin-top: 0.5rem !important;
}

.basicInfo {
    border-bottom: 2px solid #CE0E2D;
    width: calc(100% / 7);
}

.kmInfo {
    border-bottom: 2px solid #CE0E2D;
    width: calc(100% / 7);
}

.dateHeader {
    border-bottom: 2px solid #CE0E2D;
    width: calc(100% / 2.5);
}
.selfDriveHeader{
	 border-bottom: 2px solid #CE0E2D;
    width: calc(100% / 1.8);
}
.pickupHeader{
	width: calc(100% / 1.6);
	border-bottom: 2px solid #CE0E2D;
}

.iconStyle {}

.labelStyle {
    margin-top: 0.25rem;
    margin-left: 0.5rem;
    font-weight: 550 !important;
    font-size: 16px;
    color: black;
}

.timeHeaderStyle {
    margin-top: 0.25rem;
    font-weight: 550 !important;
    font-size: 16px;
    color: black;
}
.labelFacilityStyle{
	font-size: 14px;
    color: black;
    font-weight: 550 !important;
    margin-top:1.5rem;
}
.termStyle{

	margin-top:0.5rem;
	font-size: 13px;
}

.userInfo {
    background-color: white;
}

.locationInfo {
    background-color: white;
    border-top-left-radius: 27px;
    padding-bottom: 1rem;
}

.addVehicleAlignCSS {
    text-align: left;
    margin: 0.5rem 0 0 1rem !important;
}

.vehicleInfo {
    border-bottom: 2px solid #CE0E2D;
    width: 100%;
}

.carBox {
    min-width: 154px;
    min-height: 150px;
    border: 1px solid #d5d5d5;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    background: white;
}

.productBox {
    min-width: 150px;
    min-height: 160px;
    border: 1px solid #d5d5d5;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    background: white;
}

.locationBox {
    max-width: 150px;
    min-height: 75px;
    border: 1px solid #979797;
    border-radius: 0.5rem;
    padding: 1.2rem;
    margin: 0.5rem;
    background: white;
}

.calenderBox {
    min-width: 329px;
    min-height: 82px;
    border: 1px solid #979797;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.5rem;
    background: white;
}

.timeBox {
    min-width: 110px;
    min-height: 60px;
    border: 1px solid #000000;
    border-radius: 7px;
    padding: 1rem;
    margin: 0.5rem;
    background: #D9D9D9;
}
.pickupBox{
	width:152px;
	min-width: 152px;
    min-height: 150px;
    border: 1px solid #979797;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    background: #ffffff;
}
.pickUpTile{
	margin-left:1.2rem;
}

.locationList {
    margin-top: 10px;
    background: #ffffff;
}

.timeList {
    margin-top: 10px;
    background: #D9D9D9;
}

.locationList.sapMLIB.sapMLIBActive,
.aljVehicleListHorStyle.sapMLIB.sapMLIBActive,
.aljMoreTilesStyle .sapMLIB.sapMLIBActive {
    background: none;
}


/*.selectedCarCss {*/


/*    border: solid #CE0E2D 1px !important;*/


/*}*/

.carList {
    margin-top: 10px;
    background: #D9D9D9;
}

.carList.sapMLIB.sapMLIBActive,
.aljVehicleListHorStyle.sapMLIB.sapMLIBActive,
.aljMoreTilesStyle .sapMLIB.sapMLIBActive {
    background: none;
}

.timeList.sapMLIB.sapMLIBActive,
.aljVehicleListHorStyle.sapMLIB.sapMLIBActive,
.aljMoreTilesStyle .sapMLIB.sapMLIBActive {
    background: none;
}

.withoutVehicleBtn .sapMBtnInner {
    border-radius: 14px;
    background: #E5E5E5;
    width: 205px;
    height: 36px;
    color: black;
    border: none;
}

.selectVehicleBtn .sapMBtnInner {
    border-radius: 14px;
    background: #E5E5E5;
    width: 125px;
    height: 36px;
    color: black;
    border: 1px solid #EB0A1E;
}

.selectVehicle {
    background-color: #D9D9D9;
    border-top-left-radius: 27px;
}
.selectVehicleCar {
    background-color: #fff;
    
}

.selectProduct {
    background-color: #D9D9D9;
    border-top-left-radius: 27px;
    padding-bottom: 1rem;
}

.dateAndTime {
    background-color: #D9D9D9;
    border-top-left-radius: 27px;
    padding-bottom: 2rem;
}

.selfDrive {
    background-color: #ffffff;
    border-top-left-radius: 27px;
    padding-bottom: 2rem;
}

.kmBtn .sapMBtnInner {
    border-radius: 14px;
    background: #ffffff;
    width: 253px;
    height: 45px;
    color: black;
    border: 1px solid #0799B2;
}

.kmBtn .sapMBtnContent {
    line-height: 2.7rem !important;
    position: absolute;
    left: 6.5rem;
    font-size: 18px;
    color: #000000;
    font-weight: 600;
}

.desInput .sapMInputBaseContentWrapper {
    width: 340px !important;
    height: 36px !important;
    border-radius: 14px;
    border: 1px solid #0C9BA5;
}

.carImgBox {
    min-height: 30px;
}

.locationScroller {
    overflow: scroll;
    margin-left: 0.5rem;
}
.locationList .html.sap-desktop ::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

.timeScroller {
    overflow: scroll;
    margin-left: 0.5rem;
}


.locCombo .sapMInputBaseContentWrapper {
    width: 640px !important;
    margin-bottom :3rem !important;
}

.timeslotCss {
    margin-left: 1.2rem;
    border-bottom: 2px solid #CE0E2D;
    width: calc(100% / 5);
}
.backBtnBooking .sapMBtnInner .sapMBtnIcon.sapMImg {
    max-height: 1.5rem;
    margin-top: 0.3rem;
}


.footerToolbar {
    margin-top: 14px;
    height: max-content;
    padding-top: 0rem !important;
}

.footerLabelStyle {
    margin-left: 0.8rem;
}

.LfooterLabelStyle {
    margin-left: 1.2rem;
}

.PfooterLabelStyle {
    margin-left: 1.05rem;
}

.confirmBtn .sapMBtnInner {
    border-radius: 14px;
    background: #EB0A1E;
    width: 111px;
    height: 36px;
    color: #fff;
    border: none;
}
.brakeFooterLabel {
    margin-top: 0.25rem;
    margin-left: 0rem;
    font-weight: 550 !important;
    font-size: 20px;
    color: black;
}



/*.kmBtn .sapMBtnInner.sapMBtnText .sapMBtnIcon:before {*/


/*    position: absolute;*/


/*    right: 0.3rem;*/


/*    color: black;*/


/*    font-size: 0.6rem;*/


/*}*/


/*bijay's css*/


